<form role="form"><br>
    <div class="form-group">
      <input ng-model="name" type="text" class="form-control" placeholder="Name of course">
    </div>
</form>

<div class="row">
    <div class="col-md-6">


<table class='table table-striped table-bordered sorted_table'>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="simple_with_animation" ng-repeat="material in courseMaterials">
        <td>{{$index + 1}}</td>
        <td>{{material.name}}</td>
        <td>{{material.type}}</td>
        <td style="width: 1px">
            <a type="button" class="btn btn-danger btn-default" role="button" ng-click="removeCourseMaterial(material)">-</a>
        </td>
    </tr>
    </tbody>
</table>
    </div>
    <div class="col-md-6">
<table class='table table-striped table-bordered sorted_table'>
    <thead>
    <tr>
        <th></th>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr class="simple_with_animation" ng-repeat="material in materials">
        <td style="width: 1px">
            <a type="button" class="btn btn-success btn-default" role="button" ng-click="addCourseMaterial(material)">+</a>
        </td>
        <td>{{$index + 1}}</td>
        <td>{{material.name}}</td>
        <td>{{material.type}}</td>
    </tr>
</tbody>
</table>
    </div>
</div>
