<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Courses</li>
</ol>
<h2>My Courses</h2>

<table class="table table-striped">
    <thed>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
    </tr>
    </thed>
    <tbody>
    <tr ng-repeat="course in courses">
        <td>{{course._id}}</td>
        <td>{{course.name}}</td>
        <td>{{course.author}}</td>
    </tr>
    </tbody>
</table>

<ul class="pagination">
    <li><a ng-click="decCurrentPage()">&laquo;</a></li>
    <li ng-class="{active: currentPage == page}" ng-repeat="page in pages"><a >{{page + 1}}</a></li>
    <li><a ng-click="incCurrentPage()">&raquo;</a></li>
</ul>

<div><a href="#/courses/new" class="btn btn-primary" role="button">New Course</a></div>

