<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Go</li>
</ol>

<h1>User Courses</h1>

<div class="row margin-top-20">
    <div class="col-md-12">
<table class='table table-striped table-bordered sorted_table'>

    <tr ng-repeat="course in userCourses" >
        <td ng-click="clickcourse(course.course._id)"><a>{{course.course.name}}</a></td>

    </tr>

</table>
</div>
    </div>

<div>
    <ul class="pagination">
        <li><a ng-click="decCurrentPage()">&laquo;</a></li>
        <li ng-class="{active: currentPage == page}" ng-repeat="page in pages"><a>{{page + 1}}</a></li>
        <li><a ng-click="incCurrentPage()">&raquo;</a></li>
    </ul>
</div>