<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/go">Go</a></li>
    <li class="active">courseName</li>
</ol>

<h1>Course material</h1>
<table class='table table-striped table-bordered sorted_table'>
<thead class="thead-default">
<tr>
    <th>Name</th>
    <th>Type</th>
</tr>
</thead>
<div class="row margin-top-20">
    <div class="col-md-12">


            <tr ng-repeat="material in materialCourse" >
                <td ng-click="clickmaterial(course.material._id)"><a>{{material.name}}</a></td>
            <td ng-click="clickmaterial(course.material._id)"><a>{{material.type}}</a></td>
            </tr>
    </div>
</div>
        </table>


