<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Materials</li>
</ol>

<h1>My Materials</h1>

<div class="row">
    <div class="col-md-4 ">

        <form class="form-inline" role="form">
            <input ng-model="name" type="text" class="form-control">
            <button ng-click="createGroup()" class="btn btn-primary" type="button">New Group</button>
        </form>

        <!--dl>
            <dt ng-click="printChildren()" ng-repeat="mg in materialGroups | filter: {parent: null}" >
                <div>
                {{mg.name}}
                <a type="button" class="btn btn-xs btn-default" role="button" ng-click="deleteMaterialGroup(materialgroup._id)">delete</a>
                </div>
            </dt>
        </dl-->

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-click="clickOnGroup(mg._id)" ng-class="mg._id == groupId ? 'active' : ''"
                class="simple_with_animation divider" data-toggle="collapse" data-target="#demo"
                ng-repeat="mg in materialGroups">

                <td style="width: 1px;">
                    <a type="button" class="btn btn-xs btn-danger" role="button" ng-click="deleteMaterialGroup(mg)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{mg.name}}</td>
            </tr>

            </tbody>
        </table>

    </div>

    <div class="col-md-8">
        <div>
            <a href="#/materials/new" ng-click="newMaterial()" class="btn btn-primary " role="button">New Material</a>
        </div>

        <table class='table table-striped table-bordered sorted_table'>
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="material in materials | limitTo:itemsPerPage:numberMaterial">
                <td style="width: 75pt; text-align: center;">
                    <a type="button" class="btn btn-xs btn-warning" role="button" ng-href="#/materials/{{material._id}}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    <a type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="changeId(material._id)">
                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    </a>
                    <a type="button" class="btn btn-danger btn-xs" ng-click="deleteMaterial(material)" >
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>

                </td>
                <td>
                    {{material.name}}
                </td>
                <td>{{material.type}}</td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination">
            <li><a ng-click="decCurrentPage()">&laquo;</a></li>
            <li ng-class="{active: currentPage == page}" ng-repeat="page in pages"><a>{{page + 1}}</a></li>
            <li><a ng-click="incCurrentPage()">&raquo;</a></li>
        </ul>
    </div>

</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"  >
           <div >
               <table class="table table-bordered">
                   <thead>
                   <tr>

                       <th>Name</th>
                   </tr>
                   </thead>
                   <tbody>

                   <tr ng-repeat="mg in materialGroups" ng-click="clickOnModalGroup(mg._id)" ng-class="mg._id == groupId ? 'active' : ''"
                       class="simple_with_animation divider" data-toggle="collapse" data-target="#demo"
                       >

                       <td>{{mg.name}}</td>
                   </tr>

                   </tbody>
               </table>
               </div>
        </div>
    </div>
</div>










