<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/materials">Materials</a></li>
    <li class="active">New</li>
</ol>
<form role="form"><br>
    <div class="form-group">
        <input ng-model="name" type="text" class="form-control" placeholder="Name of material">
    </div>
    <div class="form-group">
        <select ng-model="type" class="form-control input-sm">
            <option value="text">Text material</option>
        </select>
    </div>
    <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Edit</a></li>
            <li><a href="#profile" data-toggle="tab" ng-click="preview()">Preview</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <div id="editor" ng-model="src"></div>
                <style type="text/css">
                    #editor {
                        height: 150px;
                    }
                </style>
            </div>
            <div class="tab-pane fade" id="profile">
                <div ng-bind-html="html"></div>
            </div>
        </div>
    </div><!-- /example -->


    <button ng-click="add()" type="button" class="btn btn-primary" ng-show="materialId == 'new'">Add</button>
    <button ng-click="update()" type="button" class="btn btn-primary" ng-hide="materialId == 'new'">Save</button>
    <button ng-click="del()" type="button" class="btn btn-primary" ng-hide="materialId == 'new'">Delete</button>
</form>

