<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">/edu</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-show="email"><a ng-href="#/materials">Materials</a></li>
                <li ng-show="email"><a ng-href="#/users">Users</a></li>
                <li ng-show="email"><a ng-href="#/courses">Courses</a></li>
                <li ng-show="email"><a ng-href="#/go">Go</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="email"><button id="registerBtn" ng-click="go('/register')" type="button" class="btn btn-info navbar-btn">Register</button></li>
                <li ng-hide="email"><button id="loginBtn" ng-click="go('/login')" type="button" class="btn btn-primary navbar-btn">Log In</button></li>
                <li ng-show="email" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{email}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ><a ng-href="#/users/{{email}}">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li ><a ng-href="/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>