
<h1>WELLCOME!</h1>
<!--<div class="row">
    <div class="cocol-md-9 col-md-push-3l-md-9 col-md-push-3">name users</div>
</div>
    <div class="row">
        <div class="col-md-3 col-md-pull-9">@mail.ru</div>
    </div>
    <div class="row">
        <div class="col-md-4">rol</div>
    </div>-->

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5">NameUsers
        <input type="text" class="form-control">
    </div>
    <div class="col-xs-6 col-md-4">Login
        <input type="text" class="form-control">
        <button class="btn btn-default" type="button">Go!</button>
    </div>
</div>